*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.loginPage {
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.loginPage h1{
    text-align: center;

}

.mainUserTable {
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    margin-top: 5rem;

}

.mainUserTable h1{
    text-align: center;
    margin-bottom: 5rem;
    font-size: 3rem;
    background-color:#0095ff;
    color: white;
}

body {
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9em;
}

h1 {color:#0095ff;}


.control {
    padding: 5px 10px;
}

.control label {
    display: inline-block;
    width: 10rem;
    text-align: right;
    ;
}

.control input,
.control select{
display: inline-block;
width: 250px;
padding: 4px 7px;
margin-left: 5px;

}

.control select {
    width: 167px;
}

/*use the ID for the button - which is the #   */
#btnSave {
display: inline-block;
padding: .7em 1.4em;
border-radius: .15em;
box-sizing: .15em;
background-color: #0095ff;
color: white;
margin-top: 1em;
position: relative;
margin-left: 10em;

}

#btnClear {
    background-color: #0095ff;
    color: white;
    border: red;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 2rem;
    float: right;
    padding: .5rem;
    
}
#btnClear:hover {
    cursor: pointer;
    background-color: red;
}

.alert-error {
    border: 1px solid #f5c6cb;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 15px;
}

.password-error {
    margin: 10px 20px;
}

.hide {
    display: none;
}

.capture-form h3{
    font-size: 20px;
}

#btnSave:hover{
    background-color: blue;
}

.userTable th {
    background-color:#0095ff;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: .5rem;
    font-weight: bold;
}

.userTable tr,td {
    padding-top: 0;
    
    border-bottom: 1px solid #ddd;
}

.userTable tbody tr:nth-child(odd) {
    background-color: lightgray;
    border-spacing: 0px;
}

.userTable tbody tr:hover {
    background-color: #0095ff;

}


.login-container {
    width: 30%;
    height: 8rem;
    border: #0095ff;
    border-style:solid;
    background-color: #4db5ff;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 3rem;

    
}

.login-email-password {
position: relative;
padding: 3px;
}

#asterisk-error {
    color: red;
    float: right;
    font-size: 25px;
    

}

.btn-log-out {
    float: right;
    margin-right: 40%;
}

