.input-container{
    display:flex;
    padding:1rem;
}
.input-container label{
    flex-basis: 8rem;
}
#pets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap:1rem;
}
.pet{
    background-color: #dedede;
    border:1px solid black;
    border-radius: 5px;
    padding:1rem;
}
.pet-title{
    display:flex;
    justify-content: space-between;
}
.pet-title button{
    border:none;
    background-color: #dedede;

}
.selected{
    border:2px solid rgb(197,197,20);
}
.hide{
    display:none;
}
.show{
    display:block;
}