

h1 {
    color: darkblue;
}

.hide{
    display: none;
}

.container-fluid {
    display: flex;


}

#list {
    flex:2;
}

#capture-form {
    flex: 1;
}

.category-flex {
    display: flex;
}

#txtCategory {
    margin-left: 7px;
}

#iImportant {
    font-size: 32px;
    cursor: pointer;
}

#iImportant.far {
    color: #666;
}

#iImportant.fas {
    color: #0095ff;
    font-size: 1.2rem;
}

.task {
    display: flex;
    align-items: center;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 10px 15px;
    background-color: white;

}

.task#title {
    color: orange;
}

 #pendingTasks#title {
    color: orange;
}


.task i,
.task button {
    
    flex: 1;
}

.task i {
    color: #0095ff;
}

.task .location,
.task .due-date {
    flex: 3;
}

.task .description {
    flex: 3;
}

.control {
text-align: left;
margin-left: 1rem;

}
