body {
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9em;
}

h1 {color: red;}


.control {
    padding: 5px 10px;
}

.control label {
    display: inline-block;
    width: 110px;
    text-align: right;
}

.control input,
.control select{
display: inline-block;
width: 150px;
padding: 4px 7px;
margin-left: 5px;
}

.control select {
    width: 167px;
}

/*use the ID for the button - which is the #   */
#btnSave {
display: inline-block;
padding: .7em 1.4em;
border-radius: .15em;
box-sizing: .15em;
background-color: #0095ff;
color: white;
margin-top: 1em;
position: relative;
margin-left: 10em;

}

#btnSave:hover{
    background-color: blue;
}

.userTable th {
    background-color:#0095ff;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: .5rem;
    font-weight: bold;
}

.userTable tr,td {
    padding-top: 0;
    
    border-bottom: 1px solid #ddd;
}

.userTable tbody tr:nth-child(odd) {
    background-color: lightgray;
    border-spacing: 0px;
}

.userTable tbody tr:hover {
    background-color: #0095ff;

}